<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let planet of curPlanets" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{planet.getter('name')}}
        </mat-panel-title>
        <mat-panel-description>
          <span class="flex"></span>
          {{spellChecker(planet.getter('climate'))}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile>Name</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('name')}}</mat-grid-tile>
        <mat-grid-tile>Rotation Period</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('rotation_period')}}</mat-grid-tile>
        <mat-grid-tile>Orbital Period</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('orbital_period')}}</mat-grid-tile>
        <mat-grid-tile>Diameter</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('diameter')}}</mat-grid-tile>
        <mat-grid-tile>Climate</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('climate')}}</mat-grid-tile>
        <mat-grid-tile>Gravity</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('gravity')}}</mat-grid-tile>
        <mat-grid-tile>Terrain</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('terrain')}}</mat-grid-tile>
        <mat-grid-tile>Surface water</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('surface_water')}}</mat-grid-tile>
        <mat-grid-tile>Population</mat-grid-tile>
        <mat-grid-tile>{{planet.getter('population')}}</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1" [ngClass]="{'upperbar': planet.getter('residentsList')?.length > 0}">
        <ng-container *ngFor="let resident of planet.getter('residents'); let first = first;">
          <mat-grid-tile><span *ngIf="first">Residents</span></mat-grid-tile>
          <mat-grid-tile>
            <a (click)="openModal(resident)">
              <span>{{dataFinder(resident)?.getter('name')}}</span>
            </a>
          </mat-grid-tile>
        </ng-container>
        <!-- <mat-progress-bar *ngIf="planet.getter('residents').length !== planet.getter('residentsList').length" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar> -->
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1" [ngClass]="{'upperbar': planet.getter('filmsList')?.length > 0}">
        <ng-container *ngFor="let film of planet.getter('films'); let first = first;">
          <mat-grid-tile><span *ngIf="first">Films</span></mat-grid-tile>
          <mat-grid-tile>
            <a (click)="openModal(film)">
              <span>{{dataFinder(film)?.getter('title')}}</span>
            </a>
          </mat-grid-tile>
        </ng-container>
        <!-- <mat-progress-bar *ngIf="planet.getter('films').length !== planet.getter('filmsList').length" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar> -->
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  
  <div class="search">
    <form (submit)="planetSearch()" action="#">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" [(ngModel)]="searchStr" [ngModelOptions]="{standalone: true}">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''"><mat-icon>close</mat-icon></button>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Search</button>
    </form>
    <mat-paginator [length]="total" [pageSize]="10" [hidePageSize]=true [showFirstLastButtons]=true (page)="onPaginateChange($event)"></mat-paginator>
  </div>
</div>
