<div id="main">
  <img src="../assets/Star-wars-logo.png" alt="logo" />
</div>
<div class="btn-area normal-view">
  <button mat-stroked-button color="yellow" routerLink="/people">People</button>
  <button mat-stroked-button color="yellow" routerLink="/planets">Planets</button>
  <button mat-stroked-button color="yellow" routerLink="/films">films</button>
  <span class="flex"></span>
</div>
<div class="mobile-view">
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>list</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item color="yellow" routerLink="/people">People</button>
    <button mat-menu-item color="yellow" routerLink="/planets">Planets</button>
    <button mat-menu-item color="yellow" routerLink="/films">films</button>
  </mat-menu>  
</div>

<router-outlet></router-outlet>

<footer>
  <div class="icons">
    <a target="_blank" href="https://www.linkedin.com/in/nedinsuyun/">
      <img src="../assets/linkedin.png" alt="linkedin">
    </a>
    <a target="_blank" href="https://github.com/neo913/SWExplorer">
      <img src="../assets/github.png" alt="github">
    </a>
  </div>
  <div>
    Contents, images &copy; Copyrights from: Lucasfilm Ltd., Wookiepedia, and Google.
  </div>
</footer>
<div *ngIf="spinner.visibility.value" class="spinner">
  <mat-spinner [diameter]="100" color="accent"></mat-spinner>
</div>