<div class="container">
  <mat-card class="people" *ngIf="curPerson">
    <mat-card-header>
      <div mat-card-avatar>
        <img src="{{'assets/characters/' + curPerson.getter('_id') + '.jpg'}}" alt="Avatar">
      </div>
      <mat-card-title>{{curPerson.getter('name')}}</mat-card-title>
      <mat-card-subtitle>
        <span>{{genderChecker()}} from {{curPerson.getter('homeworldName')}}.</span>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="carousel">
      <button class="left" (click)="callPrevPerson()"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <img class="main-image" mat-card-image  src="{{'assets/characters/'+ curPerson.getter('_id') +'.jpg'}}" alt="Photo">
      <button class="right" (click)="callNextPerson()"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile>Name</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('name')}}</mat-grid-tile>
        <mat-grid-tile>Height</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('height')}}</mat-grid-tile>
        <mat-grid-tile>Weight</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('mass')}}</mat-grid-tile>
        <mat-grid-tile>Hair Color</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('hair_color')}}</mat-grid-tile>
        <mat-grid-tile>Skin Color</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('skin_color')}}</mat-grid-tile>
        <mat-grid-tile>Eye Color</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('eye_color')}}</mat-grid-tile>
        <mat-grid-tile>Birth Year</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('birth_year')}}</mat-grid-tile>
        <mat-grid-tile>Gender</mat-grid-tile>
        <mat-grid-tile>{{curPerson.getter('gender')}}</mat-grid-tile>
        <mat-grid-tile>Home World</mat-grid-tile>
        <mat-grid-tile>
          <a (click)="openModal(curPerson.getter('homeworld'))">
            {{curPerson.getter('homeworldName')}}
          </a>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1">
        <ng-container *ngFor="let film of curPerson.getter('films'); let first = first;">
          <mat-grid-tile><span *ngIf="first">Films</span></mat-grid-tile>
          <mat-grid-tile>
            <a (click)="openModal(film)">
              <span>{{dataFinder(film)}}</span>
            </a>
          </mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openModal('peopleList')">List</button>
      <button mat-raised-button color="accent" (click)="share()">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>