@import './variables';

html, body { 
  height: 100%; 
  background-color: black; 
  background-image: url(./background.png);
	background-position: 0px 0px;
	background-repeat: repeat;

	animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: $yellow; 
  font-size: 12px; 
}

span.flex { flex: 1 1 auto; } // fill the space

.mat-yellow {
  background-color: transparent;
  color: $yellow;
}

div.container {
  padding: 2rem;
  width: 50%;
  margin: auto;
}

.text-right {
  text-align: right;
}

button:hover {
  cursor: pointer;
}

.upperbar {
  border-top: 1px solid $gray;
}

@media screen and (min-width: 651px) and (max-width: 1024px) {
  div.container {
    width: calc(100% - 4rem);
  }
}
@media screen and (max-width: 650px) {
  div.container {
    width: calc(100% - 4rem);
  }
}
