<div *ngIf="dataType == 'people'">
  <div mat-dialog-title>
    this.data
  </div>
  <div mat-dialog-content>
    <p>What's your favorite animal?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div>
</div>


<!-- Planet Detail modal -->
<div *ngIf="dataType == 'planets'">
  <div mat-dialog-title>
    {{modalData.getter('name')}}
  </div>
  <div mat-dialog-content>
    <div class="dialog-image-area">
      
    </div>
    <div class="dialog-text-area">
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile>Name</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('name')}}</mat-grid-tile>
        <mat-grid-tile>Rotation Period</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('rotation_period')}}</mat-grid-tile>
        <mat-grid-tile>Orbital Period</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('orbital_period')}}</mat-grid-tile>
        <mat-grid-tile>Diameter</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('diameter')}}</mat-grid-tile>
        <mat-grid-tile>Climate</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('climate')}}</mat-grid-tile>
        <mat-grid-tile>Gravity</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('gravity')}}</mat-grid-tile>
        <mat-grid-tile>Terrain</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('terrain')}}</mat-grid-tile>
        <mat-grid-tile>Surface water</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('surface_water')}}</mat-grid-tile>
        <mat-grid-tile>Population</mat-grid-tile>
        <mat-grid-tile>{{modalData.getter('population')}}</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1" [ngClass]="{'upperbar': modalData.getter('residentsList')?.length > 0}">
        <ng-container *ngFor="let resident of modalData.getter('residentsList'); let first = first; let last = last;">
          <mat-grid-tile><span *ngIf="first">Residents</span></mat-grid-tile>
          <mat-grid-tile><span>{{last? resident: resident + ', '}}</span></mat-grid-tile>
        </ng-container>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1" [ngClass]="{'upperbar': modalData.getter('filmsList')?.length > 0}">
        <ng-container *ngFor="let film of modalData.getter('filmsList'); let first = first; let last = last;">
          <mat-grid-tile><span *ngIf="first">Films</span></mat-grid-tile>
          <mat-grid-tile><span>{{last? film: film + ', '}}</span></mat-grid-tile>
        </ng-container>
      </mat-grid-list>
    </div>

  </div>
  <div mat-dialog-actions>
  </div>
</div>
<!-- /Planet Detail modal -->

<!-- Film Detail modal -->
<div *ngIf="dataType == 'films'">
  <div mat-dialog-title>
  
  </div>
  <div mat-dialog-content>
    
  </div>
  <div mat-dialog-actions>

  </div>
</div>
<!-- /Film Detail modal -->

<!-- People List modal -->
<div *ngIf="dataType == 'peopleList'">
  <div mat-dialog-title>
  
  </div>
  <div mat-dialog-content>
    
  </div>
  <div mat-dialog-actions>

  </div>
</div>
<!-- /People List modal -->
